<ion-view>
  <pay-le-header></pay-le-header>

  <ion-content class="fixed-margin-above-75">
    <div class="card" style="padding: 1%">
        AngularJS Module to embed Youtube videos.
        <div class="video-container" style="margin-top: 2%;">
          <youtube-video video-id="video1" player="player1"></youtube-video>
        </div>
    </div>
    <div class="card" style="padding: 1%">
        AngularJS Module to embed Youtube videos.
        <div class="video-container">
          <youtube-video video-id="video2" player="player2"></youtube-video>
        </div>
    </div>
    <div class="card" style="padding: 1%">
        AngularJS Module to embed Youtube videos.
        <div class="video-container">
          <youtube-video video-id="video3" player="player3"></youtube-video>
        </div>
    </div>
  </ion-content>
</ion-view>
